body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 965px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  color: #333333;
  line-height: 1.2;
  font-weight: 700;
}

.navbar__phone {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  line-height: 1.2;
  text-decoration: none;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
}

@media (max-width: 420px) {
  .navbar__logo {
    width: 90px;
  }
  .navbar__button {
    padding: 14px 26px;
    font-size: 12px;
  }
}
